requests>=2.25.1
beautifulsoup4>=4.9.3
openpyxl>=3.0.7
lxml>=4.6.3
PyQt5>=5.15.0
setuptools>=61
Flask==2.3.3
Flask-SQLAlchemy==3.1.1
gunicorn==22.0.0
numpy>=1.26.0
pandas==2.3.0
scipy>=1.14.0
SQLAlchemy==2.0.30
wheel
build
yfinance>=0.2.18
matplotlib>=3.7.0
plotly>=5.15.0